<?xml version="1.0"?>
<config>
    <modules>
        <FYP_Shipment>
            <version>0.0.1</version>
        </FYP_Shipment>
    </modules>
    <global>
        <models>
            <fyp_shipment>
                <class>FYP_Shipment_Model</class>
            </fyp_shipment>
        </models>
        <events>
            <sales_order_shipment_track_save_after>
                <observers>
                    <fyp_shipment>
                        <type>singleton</type>
                        <class>fyp_shipment/observer</class>
                        <method>sendTrackEmail</method>
                    </fyp_shipment>
                </observers>
            </sales_order_shipment_track_save_after>
        </events>
    </global>
</config>
